@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

table {
  width: 800px;
  border-right-color: #ffffff;
  margin-top: 20px;
  font-size: 14px;
  /* /* border: 1px solid #343a40; */
  border-collapse: collapse; 
}


td,th {
  
  padding: 16px 15px;
  text-align: left;
}

th {
  background-color: #4c4e4e;
  color: #fff;
  /*width: 35%;*/
}

tbody tr:nth-child(odd){
  background-color: #f8f9fa;
}


tbody tr:nth-child(even){
  background-color: #e9ecef;
}

.buttonLike{
padding: 5px;
border-radius: 50%;
border: none;
background: white;
cursor: pointer;

}
.buttonLike.liked{
color: white;
background: red;
}

img {
  width: 200px;
  height: 150px;
}
