.card {
    width: 18rem;
}


.form-group {
    width: 18rem;
    background-color: #EC615B;

}

.form {
    background-color: #EC615B;
}

label {
    color: white;

}

.card_image {
    background-color: #EC615B;
}

.button {
    text-align: right;
}